.row.mb-3
  - if (enterprise = Enterprise[publication.cbe_number])
    .col-4.offset-1.card{class: @active_user&.follow_cbe_number?(publication.cbe_number) ? "followed" : ""}
      %h5.card-title
        = enterprise.name
        %span.fst-italic.fs-6.fw-normal (#{enterprise.juridical_form})

        != partial("partials/follow_buttons", locals: {cbe_number: enterprise.id, full_width: false})
      .card-body
        %p.fw-bold.fst-italic= enterprise.id
        - if enterprise.foreign_entity?
          %h6.fst-italic.mb-3 Foreign Address:
          %p
            = enterprise.street_and_number
            - if enterprise.box?
              %span, box #{enterprise.box}
            %br
            = enterprise.zip_and_city
            %br
            = enterprise.country_fr_and_nl

          %h6.fst-italic.mb-3
            Belgian address
            - if enterprise.has_establishment?
              %span.fs-6.fw-normal (Belgian Establishment Unit)
            - elsif enterprise.has_branch?
              %span.fs-6.fw-normal (Belgian Local Branch)
          %p
            = enterprise.belgian_street_and_number
            - if enterprise.belgian_box?
              %span, box #{enterprise.belgian_box}
            %br
            = enterprise.belgian_zip_and_city
        
        - else
          %p
            = enterprise.street_and_number
            - if enterprise.box?
              %span, box #{enterprise.box}
          %p= enterprise.zip_and_city
          %p= enterprise.country_fr_and_nl
  - else
    .col-4.offset-1.card{class: publication.probably_new ? "new_entity" : ""}
      %h5.card-title
        = publication.entity_name
        %br
        != partial("partials/follow_buttons", locals: {cbe_number: publication.cbe_number, full_width: false})
      .card-body
        %p.fw-bold.fst-italic= publication.cbe_number
        - if publication.probably_new
          %em Probably new entity, no info in local DB
        - else
          %em No address info available

      %a.btn.btn-primary.mb-3{href: link_cbe(publication.cbe_number), target: :blank} Link to CrossRoadBank
      %a.btn.btn-primary.mb-3{href: link_mb(publication.cbe_number), target: :blank} Link to MB
      %a.btn.btn-primary.mb-3{href: link_public_accounts(publication.cbe_number), target: :blank} Public accounts
      %a.btn.btn-primary.mb-3{href: link_publication(publication), target: :blank} View full publication
  
  .col-7
    %iframe{type: 'application/pdf', src: link_publication(publication), loading: "lazy", width: "100%", height: "400px"}

