- @page_title = "Results overview"
- @tab_title = date_clean(@pub_date)

%h4.text-center.mb-5
  %a.text-white{href: "/publications/#{@pub_date}"}
    %p.mx-auto.bg-secondary.bg-gradient.text-center.w-25.py-3
      = date_clean(@pub_date)
      %span.badge.bg-danger= @total_matching_publications

- if @no_registered_zip_codes
  %h4.py-5.text-center
    %span.p-3.bg-warning.rounded-3 No registered zip codes

- else
  .row.mb-5
    .col-10.offset-1.col-xxl-8.offset-xxl-2.d-flex.flex-wrap.justify-content-center.mb-5
      - @matching_codes_count.each do |match|
        .px-3
          - if match[0].code == @current_zip_code.code
            %button.btn.btn-secondary
              = match[0].code
              %span.badge.bg-danger= match[1]
          - else
            %a.btn.btn-primary{href: "/users/#{@user.id}/results/#{@pub_date}/zipcodes/#{match[0].code}"}
              = match[0].code
              %span.badge.bg-danger= match[1]

    .row
      %h4.col-6.offset-3.text-center.bg-secondary.bg-gradient.text-white.p-2.mb-5{id: @current_zip_code.code} #{@current_zip_code.code} - #{all_villages_from(@current_zip_code)}

      != render_each(publications_matching_zip_code(@publications, @current_zip_code), "partials/_publication_result", local: :publication)

