- @tab_title = "Home"
- @page_title = "Last results overview"

- if @no_pub
  %p.text-center No Publications yet
- else
  %article.mb-5
    %p.h4.bg-secondary.bg-gradient.text-center.p-3.mb-3.w-25.mx-auto.text-white= date_clean(@last_pub_date)
    .d-flex.justify-content-center
      - if @active_user
        %p.text-center.m-5
          %a.btn.btn-primary{href: "/users/#{@active_user.id}/results"} Results
      - if (fix_zip_link = link_to_first_zip_error_publication(@last_pub_date))
        %p.text-center.m-5
          %a.btn.btn-primary{href: fix_zip_link}
            Fix Zip
            %span.badge.bg-danger= @last_pub_zip_code_missing
      -else
        %p.text-center.btn.btn-success.disabled.m-5 All Zip OK

    .row
      %section.col-4.offset-4.col-xxl-2.offset-xxl-5.bg-dark.rounded-2.p-5.p-xxl-3

        - if @active_user
          %a.d-block.d-flex.justify-content-between.text-white{href: "/users/#{@active_user.id}/results/#{@last_pub_date}/zipcodes"}
            %p Zip Code Results
            %p.h5
              %span.badge.bg-danger= @last_pub_matching_zip_codes_count
          %a.d-block.d-flex.justify-content-between.text-white{href: "/users/#{@active_user.id}/results/#{@last_pub_date}/enterprises"}
            %p Enterprises Results
            %p.h5
              %span.badge.bg-danger= @last_pub_matching_enterprises_count

        %a.d-block.d-flex.justify-content-between.text-white{href: "/publications/#{@last_pub_date}"}
          %p Publications
          %p.h5
            %span.badge.bg-danger= @last_pub_count

        %a.d-block.d-flex.justify-content-between.text-white{href: "/publications/#{@last_pub_date}/complete"}
          %p Complete
          %p.h5
            %span.badge.bg-danger= @last_pub_complete_count

        %a.d-block.d-flex.justify-content-between.text-white{href: "/publications/#{@last_pub_date}/new"}
          %p New
          %p.h5
            %span.badge.bg-danger= @last_pub_probably_new_count

        %a.d-block.d-flex.justify-content-between.text-white{href: "/publications/#{@last_pub_date}/zip-code-errors"}
          %p Zip Code Errors
          %p.h5
            %span.badge.bg-danger= @last_pub_zip_code_missing
